<!--<p>squeaker works!</p>-->
<!--<div class="chat-box bg-white">-->
<!--  <form (ngSubmit)="saveSqueaker(sendForm)" #sendForm="ngForm">-->
<!--    <div class="input-group">-->
<!--      <input class="form-control border no-shadow no-rounded" type="text" name="username" placeholder="username" ngModel>-->
<!--      <input class="form-control border no-shadow no-rounded" type="text" name="password" placeholder="password" ngModel>-->
<!--      <span class="input-group-btn">-->
<!--                    <button class="btn btn-success no-rounded" type="submit">Send</button>-->
<!--                  </span>-->
<!--    </div>&lt;!&ndash; /input-group &ndash;&gt;-->
<!--  </form>-->
<!--</div>-->
<!--<div>-->
<!--  <button class="btn btn-success no-rounded" type="submit" (click)="findAllSqueakers()">Get All Squeakers</button>-->
<!--</div>-->
<!--<div>-->
<!--  <ol>-->
<!--    <li *ngFor="let squeaker of this.squeakers">-->
<!--      <p>-->
<!--        id = {{squeaker.id}}-->
<!--        username = {{squeaker.username}}-->
<!--        password = {{squeaker.password}}-->
<!--      </p>-->
<!--    </li>-->
<!--  </ol>-->
<!--</div>-->
<!--<p>Type Your Squeaks!!!</p>-->
<!--<div class="chat-box bg-white">-->
<!--  <form (ngSubmit)="saveSqueak(sendForm)" #sendForm="ngForm">-->
<!--    <div class="input-group">-->
<!--      <input class="form-control border no-shadow no-rounded" type="text" name="content" placeholder="content" ngModel>-->
<!--      <span class="input-group-btn">-->
<!--                    <button class="btn btn-success no-rounded" type="submit">Send</button>-->
<!--                  </span>-->
<!--    </div>&lt;!&ndash; /input-group &ndash;&gt;-->
<!--  </form>-->
<!--</div>-->
<!--<div>-->
<!--  <button class="btn btn-success no-rounded" type="submit" (click)="findAllSqueaks()">Get All Squeaks</button>-->
<!--</div>-->
<!--<div>-->
<!--  <ol>-->
<!--    <li *ngFor="let squeak of this.squeaks">-->
<!--      <p>-->
<!--        id = {{squeak.id}}-->
<!--        content = {{squeak.content}}-->
<!--      </p>-->
<!--    </li>-->
<!--  </ol>-->
<!--</div>-->




<div>
  <button class="btn btn-success no-rounded" type="submit" (click)="findAllSqueakers()">Get All Squeakers</button>
  <ol>
    <li *ngFor="let squeaker of this.squeakers">
      <div class="post">
        <div class="post__avatar">
          <img
            src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
            alt=""
          />
        </div>

        <div class="post__body">
          <div class="post__header">
            <div class="post__headerText">
              <h3>
                {{ squeaker.username }}
                <span class="post__headerSpecial"
                ><span class="material-icons post__badge"> verified </span>@{{ squeaker.username }}</span
                >
              </h3>
            </div>
            <div class="post__headerDescription">
              <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit.</p>
            </div>
          </div>
          <img
            src="https://www.focus2move.com/wp-content/uploads/2020/01/Tesla-Roadster-2020-1024-03.jpg"
            alt=""
          />
          <div class="post__footer">
            <span class="material-icons"> repeat </span>
            <span class="material-icons"> favorite_border </span>
            <span class="material-icons"> publish </span>
          </div>
        </div>
      </div>
    </li>
  </ol>
</div>
