<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Twitter Clone - Final</title>
  <link rel="stylesheet" href="login.component.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
</head>
<body>
<!-- sidebar starts -->
<div class="sidebar">
  <!--  <i class="fab fa-twitter"></i>-->
  <img src="https://i.ibb.co/7vFVtv8/rat.png" width = "30" height = "30"/>
  <div class="sidebarOption active">
    <span class="material-icons"> home </span>
    <button class="sidebarButton" routerLink="/home">Home</button>
  </div>

  <div class="sidebarOption">
    <span class="material-icons"> search </span>
    <button class="sidebarButton" routerLink="/login">Login</button>
  </div>

  <div class="sidebarOption">
    <span class="material-icons"> perm_identity </span>
    <button class="sidebarButton" routerLink="/profile">Profile</button>
  </div>
</div>
<!-- sidebar ends -->
<!-- partial:index.partial.html -->
<div class="login-page">
  <div class="form">
    <form #gfg = "ngForm">
      <br>
      <br>
      Username: <input type="text" name = 'username' ngModel>
      Password: <input type="password" name = 'password' ngModel>
      <button class="btn btn-success no-rounded" type="submit" (click)="saveSqueaker(gfg)">Register</button>
    </form>
    <div>
      <input type="text" placeholder="username" name="username" [(ngModel)]="username"/>
      <input type="password" placeholder="password" [(ngModel)]="password"/>
      <button routerLink="/home" type="submit" (click)="login()">login</button>
      <p class="message">Not registered? <a href="#">Create an account</a></p>
    </div>
  </div>
</div>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script><script  src="./script.js"></script>

</body>
</html>
