<!-- squeakBox starts -->
<div class="squeakBox" *ngIf="currentSqueaker.id!=1">
  <form (ngSubmit)="saveSqueak(sendForm)" #sendForm="ngForm">
    <div class="squeakBox__input">
      <img
        src="{{this.currentSqueaker.profilePic}}"
        alt=""
      />
      <input type="text" placeholder="Post squeak here" name="content" ngModel/>
      <button class="squeakBox__squeakButton" >Squeak</button>
    </div>
  </form>
</div>
<!-- squeakBox ends -->

<div>
  <div>
    <ol>
      <li *ngFor="let squeak of this.squeaks">
        <div class="post">
          <div class="post__avatar">
            <img
              src="{{squeak.squeaker.profilePic}}"
              alt=""
            />
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <h3>
                  {{ squeak.squeaker.firstName }} {{ squeak.squeaker.lastName}}
                  <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@{{ squeak.squeaker.username }}</span
                  >
                </h3>
              </div>
              <div class="post__headerDescription">
                <p>{{squeak.content}}</p>
              </div>
            </div>
            <img
              src="https://scontent-lga3-1.xx.fbcdn.net/v/t39.30808-6/275550284_2392137017615959_7898902073337599454_n.jpg?_nc_cat=109&ccb=1-7&_nc_sid=09cbfe&_nc_ohc=1oi_mqHsbVUAX-ceWSP&_nc_ht=scontent-lga3-1.xx&oh=00_AT_GpRbzdk5DK_RAB3aKYShOq1qvCxPSjaok_nygBGy_7Q&oe=631AF6E5"
              alt=""
            />
            <div class="post__footer">
              <span class="material-icons"> repeat </span>
              <span class="material-icons"> favorite_border </span>
              <span class="material-icons"> publish </span>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
