<!-- squeakBox starts -->
<div class="squeakBox" *ngIf="currentSqueaker.id!=1">
  <form (ngSubmit)="saveSqueak(sendForm)" #sendForm="ngForm">
    <div class="squeakBox__input">
      <img
        src="{{this.currentSqueaker.profilePic}}"
        alt=""
      />
      <input type="text" placeholder="Post squeak here" name="content" ngModel/>
      <input type="text" placeholder="Image url here" name="imageUrl" [(ngModel)]="image">
      <button class="squeakBox__squeakButton" >Squeak</button>
    </div>
  </form>
</div>
<!-- squeakBox ends -->

<div>
  <div>
    <ol>
      <li *ngFor="let squeak of this.squeaks">
        <div class="post">
          <div class="post__avatar">
            <img
              src="{{squeak.squeaker.profilePic}}"
              alt=""
            />
          </div>

          <div class="post__body">
            <div class="post__header">
              <div class="post__headerText">
                <h3>
                  {{ squeak.squeaker.firstName }} {{ squeak.squeaker.lastName}}
                  <span class="post__headerSpecial"
                  ><span class="material-icons post__badge"> verified </span>@{{ squeak.squeaker.username }}</span
                  >
                </h3>
              </div>
              <div class="post__headerDescription">
                <p>{{squeak.content}}</p>
              </div>
            </div>
<!--            <img *ngIf="squeak.id % 2 == 0"-->
<!--              src="https://cdn.discordapp.com/attachments/1009121959516315688/1016795716905078875/IMG_3518.png"-->
<!--              alt=""-->
<!--            />-->
<!--            <img *ngIf="squeak.id % 2 != 0"-->
<!--              src="https://cdn.discordapp.com/attachments/1009121959516315688/1016899619453673502/IMG_3526.png"-->
<!--              alt=""-->
<!--            />-->
            <img
              src="{{squeak.image}}"
              alt=""
            />
            <div class="post__footer">
              <span class="material-icons"> repeat </span>
              <span class="material-icons"> favorite_border </span>
              <span class="material-icons"> publish </span>
            </div>
          </div>
        </div>
      </li>
    </ol>
  </div>
</div>
