/*input {*/
/*  display: block;*/
/*  padding-top: 1em;*/
/*  margin-bottom: 1em;*/
/*}*/
/*form {*/
/*  display: block;*/
/*}*/

/*.posts li {*/
/*  cursor: pointer;*/
/*  position: relative;*/
/*  left: 0;*/
/*  background-color: #eee;*/
/*  margin: 0.5em;*/
/*  padding: 0.3em 0;*/
/*  height: 1.6em;*/
/*  border-radius: 4px;*/
/*  width: 30%;*/
/*}*/

/*.posts .post {*/
/*  display: block;*/
/*  color: white;*/
/*  padding: 0.8em 0.7em 0 0.7em;*/
/*  background-color: #8ea4bb;*/
/*  line-height: 1em;*/
/*  position: relative;*/
/*  left: -1px;*/
/*  top: -4px;*/
/*  height: 6.5em;*/
/*  margin-right: 0.8em;*/
/*  border-radius: 4px 4px 4px 4px;*/
/*  overflow: scroll;*/
/*}*/
/*.post .user {*/
/*  display: block;*/
/*  font-size: 1.2em;*/
/*  font-weight: 700;*/
/*  color: rgb(38, 58, 71);*/
/*  padding-bottom: 0.5em;*/
/*}*/

/*.post .content {*/
/*  display: block;*/
/*  padding-bottom: 0.5em;*/
/*}*/

/*.post .time-stamp {*/
/*  font-size: small;*/
/*  color: rgb(92, 92, 92);*/
/*}*/

.header-photo{
  width: 100%;
}
.info-container{
  box-sizing: border-box;
  width: 100%;
  display:flex;
  flex-direction: column;
  padding: 0 15px;
  border-bottom: 1px solid #e6ecf0;
}
.picture-and-btn{
  display:flex;
  height: 60px;
}
.profile-picture-container{
  position: relative;
  bottom: 85px;
  left: 10px;
  width: fit-content;
}
.profile-picture{
  border-radius: 9999px;
  border: 5px solid white;
  height: 135px;
  width: 135px;
}
.btn-container{
  flex-grow: 1;
  margin-top: 10px;
}
.btn{
  transition: background-color 0.2s;
  float: right;
  height: fit-content;
  cursor: pointer;
  border-radius:100px;
  font-weight:800;
  font-size:15px;
  text-align: center;
  padding: 7px 13px;
  outline: none;
}
.btn-outlined{
  border: 1px solid #1da1f2;
  background-color:#fff;
  color:#1da1f2;
}
.btn-outlined:hover{
  background-color:#eaf5fd;
  transition: background-color 0.2s;
}
.btn-filled{
  border:none;
  background-color: #1da1f2;
  color: #fff;
}
.btn-filled:hover{
  background-color: #e0245e;
}
.name-container{
  display:flex;
  flex-direction:column;
  color:#14171a;
}
.display-name{
  color:inherit;
  font-weight:900;
  font-size: 18px;
}
.tag{
  color:#657786;
}
.bio-container{
  margin-top: 10px;
}
.follow-counters{
  margin: 10px 0;
  display:flex;
}
.following{
  margin-right: 20px;
}
.text-bold{
  font-weight:bold;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  --squeaker-color: #fd0000;
  --squeaker-background: #e6ecf0;
}

.sidebarOption {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.sidebarOption .material-icons,
.fa-twitter {
  padding: 20px;
}

.sidebarOption h2 {
  font-weight: 800;
  font-size: 20px;
  margin-right: 20px;
}

.sidebarOption:hover {
  background-color: var(--squeaker-background);
  border-radius: 30px;
  color: var(--squeaker-color);
  transition: color 100ms ease-out;
}

.sidebarOption.active {
  color: var(--squeaker-color);
}

.sidebar__squeak {
  width: 100%;
  background-color: var(--squeaker-color);
  border: none;
  color: white;
  font-weight: 900;
  border-radius: 30px;
  height: 50px;
  margin-top: 20px;
}

body {
  display: flex;
  height: 100vh;
  max-width: 1300px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 10px;
}

.sidebar {
  border-right: 1px solid var(--squeaker-background);
  flex: 0.2;

  min-width: 250px;
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
}

.fa-twitter {
  color: var(--squeaker-color);
  font-size: 30px;
}

/* feed */
.feed {
  flex: 0.5;
  border-right: 1px solid var(--squeaker-background);
  min-width: fit-content;
  overflow-y: scroll;
}

.feed__header {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 100;
  border: 1px solid var(--squeaker-background);
  padding: 15px 20px;
}

.feed__header h2 {
  font-size: 20px;
  font-weight: 800;
}

.feed::-webkit-scrollbar {
  display: none;
}

.feed {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* tweet box */
.squeakBox__input img {
  border-radius: 50%;
  height: 40px;
}

.squeakBox {
  padding-bottom: 10px;
  border-bottom: 8px solid var(--squeaker-background);
  padding-right: 10px;
}

.squeakBox form {
  display: flex;
  flex-direction: column;
}

.squeakBox__input {
  display: flex;
  padding: 20px;
}

.squeakBox__input input {
  flex: 1;
  margin-left: 20px;
  font-size: 20px;
  border: none;
  outline: none;
}

.squeakBox__squeakButton {
  background-color: var(--squeaker-color);
  border: none;
  color: white;
  font-weight: 900;

  border-radius: 30px;
  width: 80px;
  height: 40px;
  margin-top: 20px;
  margin-left: auto;
}

/* post */
.post__avatar img {
  border-radius: 50%;
  height: 40px;
}

.post {
  display: flex;
  align-items: flex-start;
  border-bottom: 1px solid var(--squeaker-background);
  padding-bottom: 10px;
}

.post__body img {
  width: 450px;
  object-fit: contain;
  border-radius: 20px;
}

.post__footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.post__badge {
  font-size: 14px !important;
  color: var(--squeaker-color);
  margin-right: 5px;
}

.post__headerSpecial {
  font-weight: 600;
  font-size: 12px;
  color: gray;
}

.post__headerText h3 {
  font-size: 15px;
  margin-bottom: 5px;
}

.post__headerDescription {
  margin-bottom: 10px;
  font-size: 15px;
}

.post__body {
  flex: 1;
  padding: 10px;
}

.post__avatar {
  padding: 20px;
}

/* widgets */
.widgets {
  flex: 0.3;
}

.widgets__input {
  display: flex;
  align-items: center;
  background-color: var(--squeaker-background);
  padding: 10px;
  border-radius: 20px;
  margin-top: 10px;
  margin-left: 20px;
}

.widgets__input input {
  border: none;
  background-color: var(--squeaker-background);
}

.widgets__searchIcon {
  color: gray;
}

.widgets__widgetContainer {
  margin-top: 15px;
  margin-left: 20px;
  padding: 20px;
  background-color: #f5f8fa;
  border-radius: 20px;
}

.widgets__widgetContainer h2 {
  font-size: 18px;
  font-weight: 800;
}
