<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Squeaker</title>
  <link rel="stylesheet" href="home.component.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
</head>
<body>
<!-- sidebar starts -->
<div class="sidebar">
<!--  <i class="fab fa-twitter"></i>-->
  <img src="https://i.ibb.co/7vFVtv8/rat.png" width = "30" height = "30"/>
  <div class="sidebarOption active">
    <span class="material-icons"> home </span>
    <button class="sidebarButton" routerLink="/home">Home</button>
  </div>

  <div class="sidebarOption">
    <span class="material-icons"> search </span>
    <button class="sidebarButton" routerLink="/login">Login</button>
  </div>

  <div class="sidebarOption">
    <span class="material-icons"> perm_identity </span>
    <button class="sidebarButton" routerLink="/profile">Profile</button>
  </div>
</div>
<!-- sidebar ends -->

<!-- feed starts -->
<div class="feed">
  <div class="feed__header">
    <h2>Home - Hello {{ this.currentSqueaker.username}}</h2>
  </div>

  <!-- squeakBox starts -->
  <div class="squeakBox">
    <form>
      <div class="squeakBox__input">
        <img
          src="https://i.pinimg.com/originals/a6/58/32/a65832155622ac173337874f02b218fb.png"
          alt=""
        />
        <input type="text" placeholder="What's happening?" />
      </div>
<!--      <button class="squeakBox__squeakButton" (click)="">Squeak</button>-->
    </form>
  </div>
  <!-- squeakBox ends -->

  <!-- post starts -->
  <div>
    <app-squeak></app-squeak>
  </div>
  <!-- post ends -->
</div>
<!-- feed ends -->

<!-- widgets starts -->
<div class="widgets">
  <div class="widgets__input">
    <span class="material-icons widgets__searchIcon"> search </span>
    <input type="text" placeholder="Search" />
  </div>

  <div class="widgets__widgetContainer">
    <h2>What's happening?</h2>
    <blockquote class="squeaker-squeak">
      <p lang="en" dir="ltr">
        Sunsets don&#39;t get much better than this one over
        <a href="https://twitter.com/GrandTetonNPS?ref_src=twsrc%5Etfw">@GrandTetonNPS</a>.
        <a href="https://twitter.com/hashtag/nature?src=hash&amp;ref_src=twsrc%5Etfw"
        >#nature</a
        >
        <a href="https://twitter.com/hashtag/sunset?src=hash&amp;ref_src=twsrc%5Etfw"
        >#sunset</a>
      </p>
    </blockquote>

  </div>
</div>
<!-- widgets ends -->
</body>
</html>
