<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Squeaker</title>
  <link rel="stylesheet" href="home.component.css" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
    integrity="sha512-iBBXm8fW90+nuLcSKlbmrPcLa0OT92xO1BIsZ+ywDWZCvqsWgccV3gFoRBv0z+8dLJgyAHIhR35VZc2oM/gI1w=="
    crossorigin="anonymous"
  />
</head>
<body>
<!-- sidebar starts -->
<div class="sidebar">
<!--  <i class="fab fa-twitter"></i>-->
  <img src="https://cdn.discordapp.com/attachments/1009121959516315688/1016814063101165668/0C187506-04B4-4FBE-96F1-F4729304D41D.png" width = "220" height = "50"/>
  <div class="sidebarOption active">
    <span class="material-icons"> home </span>
    <button class="sidebarButton" routerLink="/home">Home</button>
  </div>

  <div class="sidebarOption" *ngIf="currentSqueaker.id==1">
    <span class="material-icons"> login </span>
    <button class="sidebarButton" routerLink="/login">Login</button>
  </div>

  <div class="sidebarOption" *ngIf="currentSqueaker.id!=1">
    <span class="material-icons"> perm_identity </span>
    <button class="sidebarButton" routerLink="/profile">Profile</button>
  </div>

  <div class="sidebarOption" *ngIf="currentSqueaker.id!=1">
    <span class="material-icons"> logout </span>
    <button class="sidebarButton" routerLink="/login" (click)="logout()">Logout</button>
  </div>

<!--  <button class="sidebar__squeak">Squeak</button>-->

</div>
<!-- sidebar ends -->

<!-- feed starts -->
<div class="feed">
  <div class="feed__header">
    <h2>HOME - HELLO {{ this.currentSqueaker.username.toUpperCase()}}</h2>
    <br>
  </div>


  <!-- post starts -->
  <div>
    <app-squeak></app-squeak>
  </div>
  <!-- post ends -->
</div>
<!-- feed ends -->

<!-- widgets starts -->
<div class="widgets">
  <div class="widgets__input">
    <span class="material-icons widgets__searchIcon"> search </span>
    <input type="text" placeholder="Search Squeaker" />
  </div>

  <div class="widgets__widgetContainer">
    <h2>What's Happening Now</h2>
    <blockquote class="squeaker-squeak">
      <p lang="en" dir="ltr">
        <a href="https://twitter.com/hashtag/squeak?src=hashtag_click&f=live"
        >#squeak</a>
      </p>
    </blockquote>

  </div>
  <div class="widgets__widgetContainer">
    <h2>Who To Follow</h2>

    <button class="sidebarButton" routerLink="/profile">Follow</button>

  </div>


</div>
<!-- widgets ends -->
</body>
</html>
